.login-box{
    width:400px;
    margin:auto;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);

}

.tabs{
    display:flex;
    gap:10px;
    margin:40px 0px 60px 0px;

}

.tab{
    background-color:transparent;
    flex:1;
    font-size:1em;
    color:var(--titlecor);
    padding:20px;
    border:none;
    cursor:pointer;
    border-radius:8px;
    transition:.3s;
}

.tab.active{
    background:var(--fundo-primario);
    color:white;
}


