@import url(style.css);

#container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 20px;
}
.all-bale{
    width: 100%;
    padding: 25px;
    background-color: #fd269c;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.all-futebolzinho{
    width: 100%;
    padding: 25px;
    background-color: #0196f9;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.all-transito{
    width: 100%;
    padding: 25px;
    background-color:yellowgreen;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.image-style{
    width: 40%;
    border-radius: 50%;
}

#futebolzinho,
#bale,
#transito{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#futebolzinho h1,
#bale h1,
#transito h1{
    font-family: var(--font-title);
    font-size: 3.5em;
    font-weight: 100;
    color: black;
}


.text-c{
    font-size: 1.8em;
    padding: 10px;
    line-height: 170%;
}


