@import url(style.css);

#container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.all-bale{
    width: 100%;
    padding: 25px;
    background-color: #fd269c;
    color: white;
}
.all-futebolzinho{
    width: 100%;
    padding: 25px;
    background-color: #0196f9;
    color: white;
}
.all-transito{
    width: 100%;
    padding: 25px;
    background-color:yellowgreen;
    color: white;
}



.image-style{
    width: 40%;
    border-radius: 50%;
}

#futebolzinho,
#bale,
#transito{
    display: flex;
    align-items: center;
    gap: 20px;
}


.text-c{
    font-size: 1.8em;
    padding: 10px;
    line-height: 170%;
}


