@import url(style.css);
.midle-text{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.722);
}
.midle-text h1{
    text-align: center;
    padding: 15px;
    font-size: 3.2em;
    margin:10px;
    border-radius: 8px;
    font-family: var(--font-title);
    font-weight:lighter;
    background-image:linear-gradient(to right, #ff1093, #ff10939e);
    color:white;
}
.midle-text h2{
    text-align: center;
    margin-top: 40px;
    font-family: var(--font-subtitle);
    font-size: 1.8em;
    font-weight: 100;
    color: var(--titlecolor);
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.235);

}


.text-p{
    text-align: justify;
    font-family: var(--font-subtitle);
    padding: 20px;
    font-size: 1.7em;
    line-height: 180%;
}
