.midle-text{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.722);
}
.midle-text h1{
    text-align: center;
    font-size: 2em;
    padding: 20px;
    font-family: var(--font-btn);
    font-weight:400;
    background-color: var(--fundo);
    color:white;
}
.midle-text h2{
    text-align: center;
    margin-top: 40px;
    font-family: var(--font-subtitle);
    font-size: 1.45em;
    font-weight: 600;
    padding: 20px;
    color: var(--titlecolor);
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.235);

}

.text-p{
    text-align: justify;
    font-family: var(--font-subtitle);
    padding: 20px;
    font-size: 1.1em;
    line-height: 180%;
}
